.subs{
    margin: auto;
    width: 60%;
    display:flex;

}
.subscommon{
    width:342px;
    height: 410px;
    border: 1px solid #d4d4d4;
    margin-right: 40px;
    text-align: center;
    margin-bottom: 100px;

}
.first{
    width:342px;
    height: 92px;
    border-bottom:1px solid #d4d4d4 ;
    padding: 22px;
  
    
}
.second{
    width:342px;
    height: 84px;
    border-bottom:1px solid #d4d4d4 ;
    padding: 24px 15px;
  
    
}

.third{
    width:342px;
    height: 300px;
    /* border-bottom:1px solid #d4d4d4 ; */
    padding: 24px 15px;
  
}

.head1{
    color: #e5b95f;
    font-size: 13px;
    padding: 0px;
    font-weight: bold;

}


.head{
    font-size: 20px;

    font-weight: 600;
}

.sub{
    width:342px;
    height: 76px;
    background-color: #e5b95f;
    margin-top:-140px;
}
.btn{
    width: 80%;
    background-color: #e5b95f;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    margin-top: 30px;
    font-weight: 600;
    

}

.btn:hover{
    color:black;
}
/* .sub_name{
    border-bottom: 2px double #e5b95f;
padding: 4px;
font-size: 36px;} */